[Unit]
Description = Statistic Bot
After = network.target

[Service]
Type = simple
WorkingDirectory = /var/www/Stat_bot/
ExecStart = /usr/bin/python3 main.py
User = root
Restart = on-failure
SyslogIdentifier = /var/log/Stat_bot.log
RestartSec = 5
TimeoutStartSec = infinity

[Install]
WantedBy = multi-user.target
